#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
#nav > a > svg {
  height: 41px;
}

#nav > div {
  display: flex;
  gap: 20px;
}

.bgBackground {
  background: var(--color-background);
}

.bgPrimary {
  background: var(--color-primary);
}

.logo {
  fill: red;
}

@media (width < 834px) {
  #nav > a > svg {
    width: 63px;
  }
}

.buttonContainer {
  display: flex;
  gap: 12px;
}

@media (max-width: 450px) {
  .buttonContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .buttonContainer :global(a) {
    width: 80%;
    padding: 14px 0;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
  }
}
